/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

.div-for-img {
  background-color: #eee;
  border-radius: 1em;
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden-file {
  display: none;
}

.props-img {
  margin: 1em;
}

.ii-div {
  flex-grow: 1;
  height: 30vh;
  margin-left: 5em;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.amenities {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
}

.amen-box {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  border: 1px solid #ccc;
  padding: 1em;
}

.amen-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amen-title {
  flex-grow: 1;
}

.amen-close {
  cursor: pointer;
}

.amen-body {
  display: flex;
  /* height: 4em; */
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.amen-button {
  width: 9em;
  height: 9em;
  font-size: 0.75em;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  margin: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.amen-input {
  min-width: 8em;
  padding: 0.5em;
  border: 1px solid #eee;
}

.add-amen-btn {
  width: 8em;
  height: 8em;
  border: 1px solid #eee;
  border-radius: 0.5em;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 0.75em;
}

.MuiCard-root {
  overflow: visible !important;
}

/* .project-property-prices{
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.project-property-container {
  padding: 20px;
}

.property-card .property-title {
  font: 18px;
  font-weight: 700;
  color: black;
}

.property-card .property-subtitle {
  font: 14px;
  color: #847d7d;
}

.property-card .property-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}